<nav> 
    <ul>
        <li>
            <a href="/index/">Home</a>
            <a href="/project/">Proyects</a>
            <a href="/about/">about</a>
            <a href="/string/descargar">string</a>
            <a href="/integer/1">integer</a>
            <a href="/cltProject/1">cltProject</a>
            <a href="/tank/">tank</a>
            <a href="/clttank/2">clttank</a>
            <a href="/clttanknombre/Tarea de laravel">clttanknombre</a>
            <a href="/CrearTask/">CrearTask</a>
        </li>
    </ul>
</nav>
{% block content %}
{% endblock %}